{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name }}!{% endblock %}

{% block body %}
  <section class="articles" style="margin-top:20px; margin-bottom:20px;"> 
     <tbody>
    <table class="table table-hover">
  
        <tr class="table-active">
            <th scope="row" style="text-align:right; "><button type="button" class="btn btn-success"><a class="  nav-link " href="/blog/new" style="color:white;" onmouseover="this.style.color='#FFFF99' "; onmouseout="this.style.color='white';"><b>Ajouter un article</b></a></button></th>
        </tr>
    </table>
  </section>

  <section class="articles" > 
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col" style="color:rgb(20, 4, 41);   font-size: 12px;">DATE</th>
                    <th scope="col" style="color:rgb(20, 4, 41);   font-size: 12px;">TITRE</th>
                    <th scope="col" style="color:rgb(20, 4, 41);   font-size: 12px;">IMAGE</th>
                    <th scope="col" style="color:rgb(57, 14, 114); font-size: 12px;">Delet comment</th>
                    <th scope="col" style="color:rgb(57, 14, 114); font-size: 12px;">Delet article</th>
                    <th scope="col" style="color:rgb(57, 14, 114); font-size: 12px;">Edit  article </th>
                  </tr>
                </thead>
                
           {%  for article in articles %} 
            <tbody>
              <tr class="table-active">
                <th scope="row">{{ article.id}}</th>
                <td>{{ article.cretedAt | date('d/m/Y') }} </td>
                <td>{{ article.title  }}</td>
                <td><img src="{{ article.image}}" alt = "" width="50" height="35"></td>
                <td><a href="{{ path( 'blog_show', {'id':article.id} ) }}"     style="font-size:24px; padding-left:20%; "><i class="material-icons">delete</i> </a>  </td>
                <td><a href="{{ path( 'article_delet', {'id':article.id} ) }}" style="font-size:24px; padding-left:20%; "  onclick="return window.confirm(`Êtes vous sur de vouloir supprimer cet article ?!`)"><i class="material-icons">delete</i>  </a>  </td> 
                <td><a href="{{ path( 'blog_edit', {'id':article.id} ) }}"     style="font-size:24px; padding-left:20%; "> <i class="material-icons">edit</i> </a></td>
              </tr>
             
            </tbody>
            {%  endfor %}
          </table>
 
    
  </section>

{% endblock %}



