{% extends 'base.html.twig' %}

{% block title %}Hello {{controller_name }}!{% endblock %}

{% block body %}

  <section class="articles"> 
        <table class="table table-hover">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">DATE</th>
                    <th scope="col">Titre</th>
                    <th scope="col">IMAGE</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                  </tr>
                </thead>
           {%  for article in articles %} 
            <tbody>
              <tr class="table-active">
                <th scope="row">{{ article.id}}</th>
                <td>{{ article.cretedAt | date('d/m/Y') }} </td>
                <td>{{ article.title  }}</td>
                <td><img src="{{ article.image}}" alt = "" width="50" height="35"></td>
                <td><a href="{{ path( 'blog_show', {'id':article.id} ) }}" class="btn btn-warning ">Delet comment </a>  </td>
                <td><a href="{{ path( 'article_delet', {'id':article.id} ) }}" class="btn btn-danger " onclick="return window.confirm(`Êtes vous sur de vouloir supprimer cet article ?!`)">Delet article </a>  </td> 
                <td><a href="{{ path( 'blog_edit', {'id':article.id} ) }}" class="btn btn-primary ">Edit article </a>  </td>
              </tr>
             
            </tbody>
            {%  endfor %}
          </table>
 
    
  </section>

{% endblock %}



