{% extends 'base.html.twig' %}
 
{% block body %}
    <article>
            <h2> {{ article.title  }}</h2>
                
            <div class="metadata">
                <small>Ecrit le &nbsp;&nbsp; <b>{{ article.cretedAt | date('d/m/Y') }}</b>  &agrave; <b>{{ article.cretedAt | date('H:i') }}</b> &nbsp;&nbsp;&nbsp; dans la cat&eacute;gorie <span style="color:midnightblue;"><b>&nbsp;&nbsp;&nbsp; {{article.category.title}}</b></span></small> 
            </div>
        
            <div class="content">
                <!--  article>h2{Titre de l'article}+div.metadata{Ecrit le 12/05/2018 a 23:47 dans la ctegorie politique}+div.content>img+(p>lorem15)*2+a.btn.btn-primary{ Lire la suite })*3 -->
                <!-- une belle gymnatique avec EMMET AWT qui donne le script HTML suivant--> 
                <img src="{{ article.image}}" alt = ""> 
                {{article.content | raw }}                            
            </div>          
    </article>
    
    <!-- On ajoute les commentaire relatif a l'article | c'dingue !!! Merci Lior  -->
    <section id = "commentaires" style = "margin-top:40px;">
      <p id="just-pour-le-hover">
      <small style="float:left;" ><i class="material-icons icon-commentaire"  >comment</i></small>
      <small style="float:left; " id="link-comment">Commenter</small>
      </p>
      <small style="float:right;"><b></b> {{ article.comments | length }} Commentaires</b></small>
      <hr style="padding-bottom:30px;">


      {%  for comment in article.comments %}
      <div class="comment">
          <div class="row">
              <div class="col-3">                      
                    {{comment.author}}
                    <span class="card-text"><small>{{comment.createdAt | date('d/m/Y')}} &agrave; {{ article.cretedAt | date('H:i') }}</small></span>                            
              </div>
              
              <div class="col">
                    <div class="card bg-light mb-3" style="max-width:50rem; ">                      
                            <div class="card-body" style="margin-bottom:0; padding-bottom:0; ">
                            <p class="card-text" style="padding-bottom:0;">{{comment.content | raw}}</p>
                            </div>
                            <small style="margin-left:20px; margin-bottom:5px; padding-top:0; color:gray;">R&eacute;pondre</small>   
                    </div>
              </div>           
          </div>
      </div>
      {%  endfor %}
      <!-- formulaire pour commenter-->
      <div id="div-comment"  >
            {%  if app.user %} 
            {{ form_start(commentForm) }}
            {{ form_row(commentForm.author, {'attr':{'placehold':"Votre nom"}}) }}
            {{ form_row(commentForm.content, {'attr':{'placehold':"Votre commentaire"}}) }}
            <button type="submit" class="btn btn-success">Commenter !</button>
            {{ form_end(commentForm) }} 
            {%  else %}      
            <h4>Connectez-vous pour commenter !</h4> 
            <a href=" {{path('security_login')}}" class="btn btn-primary"> Connexion</a>
            {%  endif %}
     </div>

    </section>
{% endblock %}