{% extends 'base.html.twig' %}

{% block body %}
    <article>
            <h2> {{ article.title  }}</h2>
                
            <div class="metadata">
                <small>Ecrit le &nbsp;&nbsp; <b>{{ article.cretedAt | date('d/m/Y') }}</b>  &agrave; <b>{{ article.cretedAt | date('H:i') }}</b> &nbsp;&nbsp;&nbsp; dans la cat&eacute;gorie <span style="color:midnightblue;"><b>&nbsp;&nbsp;&nbsp; {{article.category.title}}</b></span></small> 
            </div>
        
            <div class="content">
                <!--  article>h2{Titre de l'article}+div.metadata{Ecrit le 12/05/2018 a 23:47 dans la ctegorie politique}+div.content>img+(p>lorem15)*2+a.btn.btn-primary{ Lire la suite })*3 -->
                <!-- une belle gymnatique avec EMMET AWT qui donne le script HTML suivant--> 
                <img src="{{ article.image}}" alt = ""> 
                {{article.content | raw }}                            
            </div>          
    </article>
    
    <!-- On ajoute les commentaire relatif a l'article | c'dingue !!! Merci Lior  -->
    <section id = "commentaires" style = "margin-top:50px;">
      {%  for comment in article.comments %}
      <div class="comment">
          <div class="row">
                <div class="col-3">
                    <div class="card bg-light mb-3" style="max-width: 20rem;">
                            <div class="card-header"> {{comment.author}}</div>
                            <div class="card-body">
                                <p class="card-text"><small>{{comment.createdAt | date('d/m/Y &agrave; H:i ')}}</small></p>
                            </div>
                            <button type="button" class="btn btn-danger"><a class="  nav-link " href="/delet_comment/{id}" style="color:white;" onmouseover="this.style.color='#FFFF99' "; onmouseout="this.style.color='white';"><b>Delet comment</b></a></button>
                    </div>            
                </div>
                <div class="col">
                        <div class="card bg-light mb-3" style="max-width: 50rem;">                      
                                <div class="card-body">
                                <p class="card-text">{{comment.content | raw}}</p>
                                </div>  
                        </div> 
                </div> 

          </div>
      </div>
      {%  endfor %}
    </section>
{% endblock %}